.svelte-link {
  color: var(--black);
  text-decoration: none;
  font-family: var(--primary-font);
  font-size: 1.5rem;
  padding: 1rem;
  width: 10rem;
  text-align: center;
  position: relative;
}

.svelte-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: var(--primary-color);
  height: .5rem;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.svelte-link:hover {
  color: var(--primary-color);
}

.svelte-link:hover::before {
  width: 100%;
  left: 0;
}
