:root {
  --primary-color: #F7AD19;
  --secondary-color: #38a138;

  --white: #FFFFFF;
  --black: #1a1a1a;
  --error: #FF2400;
  
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Ubuntu', sans-serif;
}

html {
  height: 100vh;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: var(--white);
  }
  *, *:before, *:after {
  box-sizing:inherit;
}




